@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes preloader {
  50%{
    background-size: 80%;
  }

  100%{
    background-position: 125% 0;
  }
}

@keyframes moveTowards {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    @include visibility-hidden;
  }

  100% {
    @include visibility-visible;
  }
}