@import '../../../../assets/styles/setup';

.pagination {
  &__btn-prev,
  &__btn-next {
    position: absolute;
    color: $c-white;
    top: 50%;

    background-color: $c-purple-20;
    border-radius: 3rem;
    padding: .5rem 1rem;
  
    cursor: pointer;
    transition: $transition;

    @include visibility-hidden;

    &.shown {
      @include visibility-visible;

      animation: pulse .5s;
    }

    &:hover {
      background-color: $c-purple;
    }
  }

  &__btn-prev {
    left: 1rem;
  }

  &__btn-next {
    right: 1rem;
  }
}