.form {
  display: flex;

  &__input-wrap {
    display: inline-flex;
    flex-direction: column;
  }

  &__input-error {
    position: absolute;
    bottom: -1.5rem;

    opacity: 0;
    color: $c-red;
    visibility: hidden;
    transition: $transition;

    &.shown {
      opacity: 1;
      visibility: visible;
    }
  }

  &__input-date {
    height: 3.8rem;
    color: $c-gray;

    &.ng-valid {
      color: $c-black;
    }
  }
}