.icon {
  display: flex;
  align-items: center;
  
  height: 100%;
  transition: $transition;
  cursor: pointer;

  &.shown {
    @include visibility-visible;

    transition: $transition .5s;
  }

  &.hidden {  
    position: absolute;
    
    @include visibility-hidden;
  }
}