.input {
  font-family: inherit;
  border-radius: .8rem;
  outline: unset;
  border: unset;
  padding: 1rem;

  font-size: 1.2rem;

  transition: $transition;

  border: .2rem solid rgba(transparent, .5);

  &::placeholder {
    font-size: inherit;
    color: $c-gray;
  }

  &.ng-pristine {
    border: .2rem solid rgba($c-blue, .5);
  }

  &.ng-valid {
    border: .2rem solid rgba($c-green, .5);
  }

  &.ng-invalid:not(.ng-pristine),
  &.ng-touched:not(.ng-valid) {
    border: .2rem solid rgba($c-red, .5);
  }

  @include removeAutofill;
}

