.ngx-dropdown {
  &-button {
    display: flex !important;
    align-items: center;

    height: 3.5rem;
    font-family: inherit;
    border: 1px solid $c-green;

    width: 12rem !important;
    border: 0.2rem solid rgba($c-green, 0.5) !important;
    border-radius: .8rem !important;
    min-height: 3.8rem !important;

    .display-text {
      width: 100% !important;
    }

    .nsdicon-angle-down {
      vertical-align: unset !important;
      display: unset !important;

      &::before {
        background: url('../../icons/icon-dropdown.svg') no-repeat center;
        background-size: contain;

        vertical-align: unset !important;
        border-style: unset !important;
        border-width: unset !important;
        transform: unset !important;
        width: 1.1rem !important;
      }
    }
  }

  &-list-container {
    margin-top: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    padding-left: .5rem !important;
    padding-right: .5rem !important;
    box-shadow: $box-shadow !important;
    border: .1rem solid rgba($c-gray, .2) !important;

    .available-items {
      margin-top: unset !important;
      margin-bottom: unset !important;

      li {
        padding: 1rem .5rem !important;
        transition: $transition;
        border-radius: .8rem;
  
        &:not(:last-child) {
          margin-bottom: .5rem;
        }
  
        &:hover {
          background-color: rgba($c-blue, .5);
        }
      }
    }

    .selected-items {
      display: none;
    }

    hr {
      display: none;
    }
  }
}