.task-form {
  &__spinner {
    svg {
      animation: rotate 2s linear infinite;
      position: absolute;
      width: 100%;
      height: 100%;
      
      circle {
        stroke: $c-purple;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }

  &__filter {
    &:hover {
     svg {
      .fltr-crcl1 {
        transform: translateX(.6rem)
      }

     .fltr-crcl2 {
        transform: translateX(-.6rem)
      }
     }
    }

    circle {
      will-change: transform;
      transition: $transition;
    }
    rect {
      transform-origin: 50% 50%;
    }
  }
}