.task {
  &__delete {
    svg {
      height: 100%;

      .lid {
        transition: $transition;
      }

      &:hover {
        .lid {
          transform: translateY(-3rem);
        }
      }

      path {
        fill: $c-red-10;
      }
    }
  }

  &__edit {
    svg {
      path {
        fill: $c-blue;
      }
    }
  }

  &__done {
    svg {
      path {
        fill: $c-blue;
        transition: $transition;
      }
    }

    &:hover {
      svg {
        path {
          fill: darken($c-blue, 10%);
        }
      }
    }
  }
}