.task {
  &__delete {
    svg {
      height: 100%;

      .lid {
        transition: $transition;
      }

      &:hover {
        .lid {
          transform: translateY(-3rem);
        }
      }

      path {
        fill: $c-red-10;
      }
    }
  }

  &__edit {
    svg {
      path {
        fill: $c-blue;
      }
    }
  }

  &__done {
    svg {
      path {
        fill: $c-green-10;
        transition: $transition;
        
        &:hover {
          fill: $c-green;
        }
      }
    }
  }
}