.task-form {
  &__spinner {
    svg {
      animation: rotate 2s linear infinite;
      position: absolute;
      width: 100%;
      height: 100%;
      
      circle {
        stroke: hsl(210, 70, 75);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }
}