@keyframes animateThirdCircle {
  0%, 50%  {
    transform: translate(-50%, -50%) scale(1);
  }

  50%, 100%  {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

@keyframes animateSecondCircle {
  0%, 20%  {
    transform: translate(-50%, -50%) scale(1);
  }

  80%, 100%  {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

@keyframes animateFirstCircle {
  0%, 40%  {
    transform: translate(-50%, -50%) scale(1);
  }

  90%, 100%  {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

@keyframes animateBackground {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.preloader-filter {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(3px);
  transition: $transition;
  animation: animateBackground .5s linear;

  &__icon,
  &__icon-box {
    width: 119px;
    height: 118px;
  }

  &__icon-box {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__bg {
    background: rgba($c-gray-20, .3);
    
    transition: $transition;
    height: inherit;
    width: inherit;
  }

  &__circle {
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;

    height: 118px;
    width: 118px;

    &--1 {
      border: 3px solid rgba($c-purple-20, .4);

      animation: animateFirstCircle 1.5s ease-out infinite;
    }

    &--2 {

      border: 2px solid rgba($c-purple-20, .4);

      animation: animateSecondCircle 1.5s ease-out infinite;
     
    }

    &--3 {
      border: 1px solid rgba($c-purple-20, .4);

      animation: animateThirdCircle 1.5s ease-out infinite;
    }
  }
}