@import '../../../../assets/styles/setup';

.form {
  display: grid;
  grid-template-columns: 20rem repeat(3, 12rem) 1fr;
  align-items: center;
  grid-column-gap: 1.6rem;

  height: 3.8rem;
  position: relative;
  transition: $transition;

  z-index: 3; 
  pointer-events: none;

  @include visibility-hidden;

  &.opened,
  &.opened-initial,
  &.opened {
    @include visibility-visible;

    pointer-events: unset;
  }

  &.opened {
    transition: $transition .5s;
  }

  &__input-wrap {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    input {
      height: 3.8rem;
    }
  }

  &__input-error {
    position: absolute;
    bottom: -1.5rem;

    color: $c-red;
    transition: $transition;

    @include visibility-hidden;

    &.shown {
      @include visibility-visible;
    }
  }

  &__input-date {
    display: grid;
    grid-template-columns: 60% 20%;
    align-items: center;
    grid-template-rows: 1.3rem;
    
    background-color: $c-white;
    color: $c-gray;

    &.ng-valid {
      color: $c-black;
    }
  }

  input {
    width: 100%;
  }
}

app-button {
  height: 100%;
}