@import '../../../../assets/styles/setup';
@import '../../../../assets/styles/base/animations';

.preloader {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;

  backdrop-filter: blur(3px);
  transition: $transition;

  &__line {
    background: linear-gradient(to right, $c-gray, $c-purple);
    animation: preloader 1.5s ease-in-out infinite;
    background-position: -25% 0;
    background-repeat: repeat-y;
    
    background-color: $c-white;
    background-size: 20%;
    border-radius: 4px;

    width: 100%;
    height: 6px;
  }
}