@import '../../../../assets/styles/setup';

.task {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5vw;

  justify-content: space-between;
  align-items: start;

  padding: 22px 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;
  }

  &__title {
    display: grid;
    grid-template-columns: max-content 1fr;

    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 24px;

    &::before {
      display: block;
    
      border-radius: 50%;
      content: '';
      height: 6px;
      width: 6px;
    
      background: linear-gradient(133.9deg, $c-purple 0.24%, $c-purple-10 95.04%);
    
      margin: 5px 5px 0 0;
    }
  }

  &__date {
    text-align: center;
    
    p:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 8px;
    font-size: inherit;
    line-height: 18px;
    padding: 0 18px;

    &--pending {
      color: $c-orange;
      background-color: $c-orange-10;
    }

    &--progress {
      color: $c-aqua;
      background-color: $c-blue-10;
    }
  }

  &__date-label {
    display: block;

    font-weight: 800;
    margin-bottom: 8px;
  }

  &__importance {
    display: flex;

    font-size: 12px;
    line-height: 14px;
    align-items: center;

    &::before {
      content: '';
      height: 8px;
      width: 8px;
    
      border-radius: 50%;
      margin-right: 4px;
    }

    &--minor {
      &::before {
        border: 2px solid $c-green;
      }
    }
    
    &--normal {
      &::before {
        border: 2px solid $c-yellow;
      }
    }
    
    &--critical {
      &::before {
        border: 2px solid $c-red;
      }
    }
  }

  &__delete,
  &__edit,
  &__done {
    @extend %btn-reset;
  }

  &__edit {
    transition: $transition;

    &:hover {
      transform: translateX(5px);

      &::after {
        width: 50%;
      }
    }
  }

  &__edit,
  &__done {
    margin-right: 10px;
  }

  &__edit {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      transition: $transition;
      background-color: $c-blue;
      height: 1px;
      width: 0;
      bottom: 8px;
      right: 19px;
    }
  }

  &__nav {
    display: flex;

    height: 35px;
  }
}
