<div class="task">
  <button class="task__title">{{task.name}}</button>

  <div class="task__content">
    <button class="task__date">
      <span class="task__date-label">Planned for:</span>
      <span [ngSwitch]="task.date">
        <ng-template [ngSwitchCase]="taskDate.today">{{ task.date }}</ng-template>
        <ng-template ngSwitchDefault>{{ task.date | date: "d MMMM, y" }}</ng-template>
      </span>
    </button>
    
    <button class="task__status" 
            [ngClass]="{
              'task__status--pending': task.status === taskStatus.pending,
              'task__status--progress': task.status === taskStatus.inProgress
            }">
      <span>{{task.status}}</span>
    </button>
  
    <button class="task__importance" 
            [ngClass]="{
              'task__importance--minor': task.importance === taskImportance.minor,
              'task__importance--normal': task.importance === taskImportance.normal,
              'task__importance--critical': task.importance === taskImportance.critical
            }">
      <span>{{task.importance}}</span>
    </button>
  
    <button class="task__btn"></button>
  </div>
</div>