<div class="task">
  <button class="task__title">Evaluate the addition and deletion of user IDs.</button>

  <div class="task__content">
    <button class="task__date">
      <p class="task__date-label">Planned for:</p>
      <p>30</p>
      <p>October</p>
      <p>2021</p>
    </button>
    
    <button class="task__status task__status--pending">
      Pending
    </button>
  
    <button class="task__importance task__importance--minor">
      Minor
    </button>
  
    <button class="task__btn"></button>
  </div>
</div>