<div class="tasks-board" @fadeCommon
                         *ngIf="tasks !== undefined"  
                         [ngClass]="isSideNavShown ? 'slided' : 'non-slided'">
  <app-task-form
    [tasks]="tasks"
    [totalTasks]="totalTasks"
    (hookTask)="onAddTask($event)"
    (formShown)="onFormShown($event)"
    (sideNavShown)="onSideNavShown($event)"
    (filterOptions)="onFilterOptions($event)"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
   
    <app-task @fadeDelay
              *ngFor="let task of tasks" 
              class="tasks-board__task-wrap"
              [task]="task" 
              [sideNavShown]="isSideNavShown"
              (remove)="onRemoveTask($event)"
              (hookEditData)="onEditTask($event)">
    </app-task>
  </div>


  <div class="tasks-board__message" @fadeCommon *ngIf="!tasks.length">
    <span class="tasks-board__message-content"
      >You don't have any tasks or the filter doesn't match any chosen parameter 🙂</span
    >
  </div>

  <app-pagination [pages]="pages"
                  [currentPage]="currentPage"
                  (updatedCurrentPage)="onUpdatedCurrentPage($event)"></app-pagination>
</div>

<app-preloader></app-preloader>
<app-toast></app-toast>

<app-sidenav class="tasks-board__sidenav"
             [ngClass]="isSideNavShown ? 'slided' : 'non-slided'"
             (filterOptions)="onFilterOptions($event)"></app-sidenav>

<app-navigation></app-navigation>