<div class="tasks-board" @fadeCommon
                         *ngIf="tasks !== undefined"  
                         [ngClass]="isSideNavShown ? 'slided' : 'non-slided'">
  <app-task-form
    [tasks]="tasks"
    [totalTasks]="totalTasks"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
   
    <app-task @fadeDelay
              *ngFor="let task of tasks"
              class="tasks-board__task-wrap"
              [task]="task" 
              [sideNavShown]="isSideNavShown">
    </app-task>
  </div>


  <div class="tasks-board__message" @fadeCommon *ngIf="!tasks.length">
    <span class="tasks-board__message-content"
      >You don't have any tasks or the filter doesn't match any chosen parameter 🙂</span
    >
  </div>

  <app-pagination [pages]="pages"></app-pagination>
</div>

<app-preloader></app-preloader>
<app-toast></app-toast>

<app-sidenav class="sidenav-wrap"
             [ngClass]="isSideNavShown ? 'slided' : 'non-slided'">
</app-sidenav>
             
<app-navigation *ngIf="tasks !== undefined"></app-navigation>

<app-burger *ngIf="tasks !== undefined" ></app-burger>