<div class="tasks-board" *ngIf="tasks !== undefined"  
                         [ngClass]="isSideNavShown ? 'slided' : 'non-slided'">
  <app-task-form
    [tasks]="tasks"
    (hookTask)="onAddTask($event)"
    (formShown)="onFormShown($event)"
    (sideNavShown)="onSideNavShown($event)"
    (filterOptions)="onFilterOptions($event)"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0; else noTasks"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
   
  <app-task *ngFor="let task of tasks" 
            [task]="task" 
            [sideNavShown]="isSideNavShown"
            (remove)="onRemoveTask($event)"
            (hookEditData)="onEditTask($event)"></app-task>
  </div>

  <ng-template #noTasks>
    <div class="tasks-board__message">
      <span class="tasks-board__message-content"
        >You don't have any tasks or the filter doesn't match any chosen parameter 🙂</span
      >
    </div>
  </ng-template>

  <div class="btn-prev" (click)="prevPage()" *ngIf="currentPage > 1">page {{ currentPage - 1 }}</div>
  <div class="btn-next" (click)="nextPage()" *ngIf="pages > 1 && currentPage < pages">page {{ currentPage + 1 }} </div>
</div>

<app-preloader></app-preloader>
<app-toast></app-toast>

<app-sidenav [class.slided]="isSideNavShown"
             (filterOptions)="onFilterOptions($event)"></app-sidenav>