@import '../../../../assets/styles/setup';

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;

  &.opened {
    .sidenav {
      &__content {
        left: 0;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;

    background-color: $c-white;
    position: absolute;
    left: -100%;
    top: 0;
    padding: 2rem 2.4rem;
    width: 100%;
  }
}