<form class="sidenav" 
      [class.opened]="sideNavShown" 
      [formGroup]="form" 
      (ngSubmit)="handleFilterSubmit()">
  <div class="sidenav__content">
    <div>
      <p>Filter by status:</p>
      
      <ngx-select-dropdown formControlName="status" 
                           [options]="statusOptions">
      </ngx-select-dropdown>
    </div>

    <div>
      <p>Filter by importance:</p>
      
      <ngx-select-dropdown formControlName="importance" 
                           [options]="importanceOptions">
      </ngx-select-dropdown>
    </div>

    <div>
      <p>Sort by planned date:</p>
      
      <ngx-select-dropdown formControlName="date" 
                           [options]="dateOptions">
      </ngx-select-dropdown>
    </div>

    <app-button [text]="'Apply'" 
                [type]="'submit'">
    </app-button>

    <button type="submit" (click)="resetFilter()">reset</button>
  </div>
</form>
