@import '../../../../assets/styles/setup';
@import '../../../../assets/styles/base/animations';

.task-form {
  margin-bottom: 16px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    line-height: 56px;
    font-weight: 800;
    color: $c-gray-30;
    font-size: 34px;
    cursor: pointer;
  
    transition: $transition;

    &:hover {
      .task-form {
        &__amount {
          animation: pulse 1s infinite;
        }
      }
    }
  }

  &__amount {
    position: absolute;
    margin-left: 10px;
    color: $c-purple-10;
  }

  &__title-wrap,
  &__filter-wrap {
    display: flex;
    align-items: center;
  }

  &__filter-wrap {
    margin-left: 180px;

    // select {
    //   margin-left: 12px;
    // }
  }

  &__form {
    
  }
}