<section class="task-form">
  <div class="task-form__header">
    <div class="task-form__title-wrap"> 
      <h1 class="task-form__title" [class.hovered]="tasks.length">
        <span *ngIf="tasks.length">You’ve got</span>
        <span *ngIf="!tasks.length">You haven't got tasks yet!</span>

        <span class="task-form__amount" *ngIf="tasks.length">
          {{ tasks.length }} {{ suffix }}
        </span>
      </h1>
      <i class="task__filter icon" (click)="openSideNav()" 
         [inlineSVG]="'icon-filter.svg'">
      </i>
    </div>

    <div class="task-form__filter-wrap">
      <div>
        <!-- <p>Filter by status:</p>
        <ngx-select-dropdown [(ngModel)]="selectedStatus"
                             [options]="statusOptions"
                             (change)="selectStatusHandler()">
        </ngx-select-dropdown> -->
      </div>

      <app-button [text]="!isFormShown ? 'Add new' : 'Hide form'"
                  (click)="toggleForm()"
                  [tasks]="tasks.length"
                  [formShown]="isFormShown"></app-button>
    </div>
  </div>
 
  <app-form [tasks]="tasks"
            [formShown]="isFormShown"
            [btnLabel]="'Add'"
            [resetForm]="true"
            (hookTaskData)="onHookTask($event)"></app-form>
</section>

<app-sidenav [sideNavShown]="isSideNavShown"
             (isSideNavShown)="onSideNavShown($event)"></app-sidenav>
