<section class="task-form">
  <div class="task-form__header">
    <div class="task-form__title-wrap"> 
      <h1 class="task-form__title" [class.hovered]="tasks.length">
        <span *ngIf="tasks.length">You’ve got</span>
        <span *ngIf="!tasks.length">You haven't got tasks yet!</span>

        <span class="task-form__amount" *ngIf="tasks.length">
          {{ tasks.length }} {{ suffix }}
        </span>
      </h1>
     
      <div class="task__filter" (click)="openSideNav()">
        <i class="icon" 
           [inlineSVG]="'icon-filter.svg'">
        </i>
        <span>Filter</span>
      </div>
    </div>

    <div class="task-form__filter-wrap">
      
      <app-button [text]="!isFormShown ? 'Add new' : 'Hide form'"
                  (click)="toggleForm()"
                  [tasks]="tasks.length"
                  [formShown]="isFormShown"></app-button>
    </div>
  </div>
 
  <app-form [tasks]="tasks"
            [formShown]="isFormShown"
            [btnLabel]="'Add'"
            [resetForm]="true"
            (hookTaskData)="onHookTask($event)"></app-form>
</section>

<app-sidenav [sideNavShown]="isSideNavShown"
             (filterOptions)="onFilterOptions($event)"></app-sidenav>
