<div class="tasks-board" *ngIf="tasks !== undefined">
  <app-task-form
    [tasks]="tasks"
    (addTask)="onAddTask($event)"
    (formShown)="onFormShown($event)"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0; else noTasks"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
    <div class="tasks-board__task" *ngFor="let task of tasks">
      <app-task [task]="task" (remove)="onRemoveTask($event)"></app-task>
    </div>
  </div>

  <ng-template #noTasks>
    <div class="tasks-board__message">
      <span class="tasks-board__message-content"
        >Press the button above to open the form to add
        <span>a new task</span> 🙂</span
      >
    </div>
  </ng-template>
</div>

<div class="preloader-filter" *ngIf="loaderService.isLoading | async">
  <div class="preloader-filter__bg">
      <div class="preloader-filter__icon-box">
          <div class="preloader-filter__icon" [inlineSVG]="'preloader-icon.svg'"></div>
          <div class="preloader-filter__circle preloader-filter__circle--1">&nbsp;</div>
          <div class="preloader-filter__circle preloader-filter__circle--2">&nbsp;</div>
          <div class="preloader-filter__circle preloader-filter__circle--3">&nbsp;</div>
      </div>
  </div>
</div>
