@import '../../../../assets/styles/setup';

.tasks-board {
  background-color: $c-white;
  border-radius: 30px;
  overflow: hidden;
  padding: 86px;
  height: 80vh;
  width: 90vw;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $c-purple-20 $c-white;
  
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $c-purple-20;
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 8px;
  }

  box-shadow: 0px 4px 4px $shadow-1;

  &__task {
    &:not(:last-child) {
      border-bottom: 1px solid $c-gray-20;
    }
  }
}