<div class="tasks-board" *ngIf="tasks !== undefined">
  <app-task-form
    [tasks]="tasks"
    (hookTask)="onAddTask($event)"
    (formShown)="onFormShown($event)"
    (filterOptions)="onFilterOptions($event)"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0; else noTasks"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
   
  <app-task *ngFor="let task of tasks" 
            [task]="task" 
            (remove)="onRemoveTask($event)"
            (hookEditData)="onEditTask($event)"></app-task>
  </div>

  <ng-template #noTasks>
    <div class="tasks-board__message">
      <span class="tasks-board__message-content"
        >You don't have any tasks or the filter doesn't match any chosen parameter 🙂</span
      >
    </div>
  </ng-template>
</div>

<app-preloader></app-preloader>
