<div class="tasks-board" *ngIf="tasks !== undefined">
  <app-task-form
    [tasks]="tasks"
    (addTask)="onAddTask($event)"
    (formShown)="onFormShown($event)"
  ></app-task-form>

  <div
    class="tasks-board__wrap"
    *ngIf="tasks.length > 0; else noTasks"
    [ngClass]="isFormShown ? 'translated' : 'not-translated'"
  >
    <div class="tasks-board__task" *ngFor="let task of tasks">
      <app-task [task]="task" (remove)="onRemoveTask($event)"></app-task>
    </div>
  </div>

  <ng-template #noTasks>
    <div class="tasks-board__message">
      <span class="tasks-board__message-content"
        >You don't have any tasks or the filter doesnt't match your parameter 🙂</span
      >
    </div>
  </ng-template>
</div>

<app-preloader></app-preloader>
