@import '../../../../assets/styles/setup';

.message {
  padding: 3.2rem;
  border-radius: 1rem;

  &--edit {
    background-color: $c-blue;
  }

  &--delete {
    background-color: $c-red-10;
  }

  &--add {
    background-color: $c-green;
  }

  &__title {
  }
  &__message {
  }
}
