<button [type]="type ? type : 'button'" class="button" 
        [class.animated]="tasks === 0 && !formShown"
        [class.disabled]="sideNavShown"
        aria-label="button to add content"> 
  <div class="button__wrapper">
    <i [inlineSVG]="'icon-btn.svg'" 
       class="button__icon icon"
       [ngClass]="formShown ? 'hidden' : 'shown'">&nbsp;
    </i>

    <i [inlineSVG]="'icon-btn-close.svg'" 
       class="button__icon icon"
       [ngClass]="formShown ? 'shown' : 'hidden'">&nbsp;
    </i>
    <span>{{ text }}</span>
  </div>
</button>
