@import '../../../../assets/styles/setup';

.sidenav {
  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: $c-white;
    padding: 2rem 2.4rem;
    width: 100%;

    & > * {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }

  &__item-label {
    display: inline-block;

    margin-bottom: .4rem;
  }

  &__reset {
    color: $c-gray-10;
    background-color: unset;
    transition: $transition;
    border: unset;
    cursor: pointer;
    height: 3.8rem;

    &:hover {
      color: $c-gray-30;
    }
  }

  &__reset-icon {
    margin-right: .2rem;
  }
}