<form class="sidenav" 
      [class.opened]="sideNavShown" 
      [formGroup]="form" 
      (ngSubmit)="handleFilterSubmit()">
  <div class="sidenav__content">
    <div class="sidenav__item-wrap">
      <span class="sidenav__item-label">Filter by status:</span>
      
      <ngx-select-dropdown formControlName="status" 
                           [options]="statusOptions">
      </ngx-select-dropdown>
    </div>

    <div class="sidenav__item-wrap">
      <span class="sidenav__item-label">Filter by importance:</span>
      
      <ngx-select-dropdown formControlName="importance" 
                           [options]="importanceOptions">
      </ngx-select-dropdown>
    </div>

    <div class="sidenav__item-wrap">
      <span class="sidenav__item-label">Sort by task number:</span>
      
      <ngx-select-dropdown formControlName="data" 
                           [options]="dataOptions">
      </ngx-select-dropdown>
    </div>

    <app-button [text]="'Apply'" 
                [type]="'submit'">
    </app-button>

    <button type="submit" class="sidenav__reset" (click)="resetFilter()">
      <span class="sidenav__reset-icon">×</span>
      <span>reset</span>
    </button>
  </div>
</form>
