<nav class="navigation" [class.opened]="navbarOpened">
  <div class="navigation__bg">&nbsp;</div>

  <ul class="navigation__links">
      <li class="navigation__link">
        <a href="https://github.com/devshum" target="_blank">GitHub</a>
      </li>

      <li class="navigation__link">
        <a href="https://codepen.io/vladshumdev" target="_blank">CodePen</a>
      </li>
  </ul>

  <div class="navigation__copyright">
    Powered by 
    <a href="https://angular.io" target="_blank">
      <i [inlineSVG]="'icon-angular.svg'" 
        class="navigation__icon">
        &nbsp;
      </i>
    </a>
  </div>
</nav>