<section class="task-form">
  <div class="task-form__header">
    <h1 class="task-form__title" [class.hovered]="tasks.length">
      <span class="d-block" 
            @fadeCommon 
            *ngIf="!tasks.length">
        You haven't got tasks yet!
      </span>

      <span class="d-block"
            @fadeCommon 
            *ngIf="tasks.length">
        <span >You’ve got</span>
        <span class="task-form__amount">
          {{ totalTasks}} {{ suffix }}
        </span>
      </span>
    </h1>

    <div class="task-form__btn-wrap">
      <div class="task-form__filter-wrap">
        <button class="task-form__filter" 
                (click)="openSideNav()"
                aria-label="button to open a filter">
          <i class="icon" 
              [inlineSVG]="'icon-filter.svg'">
          </i>
  
          <span [ngSwitch]="isSideNavShown">
            <span *ngSwitchCase="true">Close filter</span>
            <span *ngSwitchDefault>Open filter</span>
          </span>
        </button>
  
        <i class="task-form__spinner"
            [inlineSVG]="'icon-spinner.svg'">&nbsp;
        </i>
      </div>

      <app-button class="task-form__button-wrap"
                  [text]="!isFormShown ? 'Add new' : 'Hide form'"
                  (click)="toggleForm()"
                  [tasks]="tasks.length"
                  [formShown]="isFormShown">
      </app-button>
    </div>
  </div>
 
  <app-form [tasks]="tasks"
            [formShown]="isFormShown"
            [btnLabel]="'Add'"
            [resetForm]="true"
            [sideNavShown]="isSideNavShown" 
            (hookTaskData)="onHookTask($event)"></app-form>
</section>