@import '../../../../assets/styles/setup';
@import '../../../../assets/styles/base/animations';

.task-form {
  display: grid;
  grid-row-gap: .5rem;
  position: relative;

  z-index: 1;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    line-height: 5.6rem;
    font-weight: 800;
    color: $c-gray-30;
    font-size: 3.4rem;
  
    transition: $transition;

    &.hovered {
      cursor: pointer;

      &:hover {
        .task-form {
          &__amount {
            animation: pulse 1s infinite;
          }
        }
      }
    }
  }

  &__amount {
    display: inline-block;
    margin-left: 1rem;
    color: $c-purple-10;
  }

  &__title-wrap,
  &__filter-wrap {
    display: flex;
    align-items: center;
  }

  &__filter-wrap {
    display: flex;
  }

  app-button {
    justify-self: end;
  }
}