@import '../../../../assets/styles/setup';
@import '../../../../assets/styles/base/animations';

.task-form {
  display: grid;
  row-gap: .5rem;
  position: relative;

  z-index: 1;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: grid;

    line-height: 5.6rem;
    font-weight: 800;
    color: $c-gray-30;
    font-size: 3.4rem;
  
    transition: $transition;

    &.hovered {
      cursor: pointer;

      &:hover {
        .task-form {
          &__amount {
            animation: pulse 1s infinite;
          }
        }
      }
    }

    span {
      grid-column: 1 / -1;
      grid-row: 1 / 1;
    }
  }

  &__amount {
    display: inline-block;
    margin-left: 1rem;
    color: $c-purple-10;
  }

  &__btn-wrap,
  &__filter-wrap {
    display: flex;
    align-items: center;
  }

  &__filter-wrap {
    position: relative;
  }

  &__filter {
    display: flex;
    align-items: center;

    margin-right: 1.8rem;
    font-size: 1.2rem;
   
    animation: appearDelay 1s .6s;
    animation-fill-mode: backwards;
    background-color: unset;
    border: unset;

    cursor: pointer;
  }

  &__spinner {
    position: absolute;
    left: 1.8rem;
    top: 50%;
    
    animation: mockLoading 1s;
    animation-fill-mode: forwards;
  
    transform: translateY(-50%);
    font-size: 5rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  &__button-wrap {
    justify-self: end;
  }
}