@mixin customScroll() {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $c-purple-20 $c-white;
  
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $c-purple-20;
    border: .3rem solid transparent;
    background-clip: content-box;
    border-radius: .8rem;
  }
}

@mixin removeAutofill() {
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 3rem $c-white inset !important;
  }
}