// COLORS
$c-black: #000000;
$c-white: #FFFFFF;

$c-pink: #EDC1D3;
$c-blue: #91BDEC; 

$c-purple-10: rgba(136, 76, 178, 0.7);
$c-purple: rgba(243, 71, 122, 0.7);

$c-orange: #F2994A;
$c-yellow: #F2C94C;
$c-green: #219653;
$c-aqua: #56CCF2;
$c-red: #EB5757;

$c-gray-10: #DFDFDF;
$c-gray: #DCD9D9;


// SHADOW
$shadow-1: rgba(0, 0, 0, 0.25);